@model Golf4.Models.ReservationModels
@using Golf4.Models

<div class="mobile-booking">
    @*OBS! javascript click ska ändrar denna css till display:block. Nu är display:none *@
    <div class="mobile-date">
        <img class="arrow-ms backm" src="~/Content/img/left.png" alt="" />
        
        <div class="mobile-datepicker">@Html.TextBoxFor(m => m.datepicker)</div>

        <img class="arrow-ms forwardm" src="~/Content/img/right.png" alt="" />
        <div class="clear"></div>
    </div>

    <div class="mobile-reservation-schedule">
        <div class="7hour">

            <div class="hourheader">
                <h4 id="hour-booking">kl.07</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="7hour-minute-res">
                @{
                    DateTime rightnow = new DateTime();
                    rightnow = DateTime.Now;
                    string memberdata = "";
                    string membergolfid = "";
                    string memberhcp = "";
                    string membergender = "";
                    DateTime datem = Convert.ToDateTime(Model.datepicker);
                    TimeSpan tsm = new TimeSpan(07, 00, 00);
                    DateTime dtm = datem.Date + tsm;
                    int minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                                {
                                    if (Reservation.Contest)
                                    {
                                        columnColor = "columnPurple";
                                        showNumber = false;
                                    }
                                    else if (Reservation.Closed)
                                    {
                                        columnColor = "columnGrey";
                                        showNumber = false;
                                    }
                                    else
                                    {
                                        count++;
                                        membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                        memberhcp += Reservation.MemberHCP.ToString();
                                        membergolfid += Reservation.MemberGolfID.ToString();
                                        if (membergolfid == "Gäst")
                                        {
                                            memberdata += "Gäst" + "<br />";
                                        }
                                        else
                                        {
                                            memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                        }
                                        membergender = "";
                                        memberhcp = "";
                                        membergolfid = "";
                                        columnColor = "columnYellow";
                                    }
                                    if (count == 4)
                                    {
                                        columnColor = "columnRed";
                                    }
                                }
                            }
                            <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                                @if (showNumber == true)
                                {
                                    @Html.Raw(count + "/4")
                                }

                                @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                                {
                                    if (User.IsInRole("2"))
                                    {
                                        @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                    }
                                }
                                else if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                                else if (User.IsInRole("1"))
                                {
                                    @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="8hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.08</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="8hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="9hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.09</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="9hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="10hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.10</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="10hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="11hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.11</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="11hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="12hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.12</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="12hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="13hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.13</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="13hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="14hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.14</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="14hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="15hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.15</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="15hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="16hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.16</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="16hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="17hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.17</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="17hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        int count = 0;
                        string columnColor = "columnGreen";
                        bool showNumber = true;
                        @minute.ToString("D2")
                        foreach (ReservationModels Reservation in ViewBag.List)
                        {
                            if (Reservation.Timestart <= dtm && Reservation.Timeend >= dtm)
                            {
                                if (Reservation.Contest)
                                {
                                    columnColor = "columnPurple";
                                    showNumber = false;
                                }
                                else if (Reservation.Closed)
                                {
                                    columnColor = "columnGrey";
                                    showNumber = false;
                                }
                                else
                                {
                                    count++;
                                    membergender += (Reservation.MemberGender == 1) ? "Man" : "Kvinna";
                                    memberhcp += Reservation.MemberHCP.ToString();
                                    membergolfid += Reservation.MemberGolfID.ToString();
                                    if (membergolfid == "Gäst")
                                    {
                                        memberdata += "Gäst" + "<br />";
                                    }
                                    else
                                    {
                                        memberdata += "GolfID: " + membergolfid + " - Kön: " + membergender + " - Hcp: " + memberhcp + "<br />";
                                    }
                                    membergender = "";
                                    memberhcp = "";
                                    membergolfid = "";
                                    columnColor = "columnYellow";
                                }
                                if (count == 4)
                                {
                                    columnColor = "columnRed";
                                }
                            }
                        }
                        <div class="column @columnColor" data-toggle="popover" title="@dtm.ToString("HHmm")" data-content="@memberdata">

                            @if (showNumber == true)
                            {
                                @Html.Raw(count + "/4")
                            }

                            @if (DateTime.Today.AddMonths(1) < Convert.ToDateTime(Model.datepicker) || count == 4 || DateTime.Today > Convert.ToDateTime(Model.datepicker) || (DateTime.Today >= Convert.ToDateTime(Model.datepicker) && dtm.TimeOfDay < rightnow.TimeOfDay) || Model.Closed || Model.Contest)
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                                }
                            }
                            else if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Hantera", "admin", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                            else if (User.IsInRole("1"))
                            {
                                @Html.ActionLink("Boka", "create", "reservation", new { validdate = Model.datepicker + " " + dtm.ToLongTimeString(), countgolfers = count }, null)
                            }
                        </div>
                        memberdata = "";
                        minute += 10;
                        dtm = dtm.AddMinutes(10);
                    }
                    membergender = "";
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
    </div>
</div>

<script>
        $(function () {
            $("#mobile-datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                closeText: "Stäng",
                prevText: "&#xAB;Förra",
                nextText: "Nästa&#xBB;",
                currentText: "Idag",
                monthNames: ["januari", "februari", "mars", "april", "maj", "juni",
                    "juli", "augusti", "september", "oktober", "november", "december"],
                monthNamesShort: ["jan.", "feb.", "mars", "apr.", "maj", "juni",
                    "juli", "aug.", "sep.", "okt.", "nov.", "dec."],
                dayNamesShort: ["sön", "mån", "tis", "ons", "tor", "fre", "lör"],
                dayNames: ["söndag", "måndag", "tisdag", "onsdag", "torsdag", "fredag", "lördag"],
                dayNamesMin: ["sö", "må", "ti", "on", "to", "fr", "lö"],
                weekHeader: "Ve",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "",
                onSelect: function (dateText, inst) {
                    $('form').submit();
                }
            });
        });

        $(document).ready(function () {

            $(".backm").click(function () {
                var date = $("#mobile-datepicker").datepicker("getDate");
                $("#mobile-datepicker").datepicker("setDate", new Date(date.getFullYear(), date.getMonth(), date.getDate() - 1));
                $('form').submit();
            });

            $(".forwardm").click(function () {
                var date = $("#mobile-datepicker").datepicker("getDate");
                $("#mobile-datepicker").datepicker("setDate", new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1));
                $('form').submit();
            });
        });

        $(document).ready(function () {
            $('td').popover({
                html: true,
                animation: true,
                placement: "bottom",
                container: "body",
            });
        });
</script>