@model Golf4.Models.ReservationModels
@using Golf4.Models

<div class="mobile-booking">
    @*OBS! javascript click ska ändrar denna css till display:block. Nu är display:none *@
    <div class="mobile-date">
        <img class="arrow-ms" src="~/Content/img/left.png" alt="" />
        <script>
             $( function() {
                 $("#datepicker-mobile").datepicker({
                     dateFormat: "yy-mm-dd",
                     firstDay: 1,
                     closeText: "Stäng",
                     prevText: "&#xAB;Förra",
                     nextText: "Nästa&#xBB;",
                     currentText: "Idag",
                     monthNames: ["januari", "februari", "mars", "april", "maj", "juni",
                         "juli", "augusti", "september", "oktober", "november", "december"],
                     monthNamesShort: ["jan.", "feb.", "mars", "apr.", "maj", "juni",
                         "juli", "aug.", "sep.", "okt.", "nov.", "dec."],
                     dayNamesShort: ["sön", "mån", "tis", "ons", "tor", "fre", "lör"],
                     dayNames: ["söndag", "måndag", "tisdag", "onsdag", "torsdag", "fredag", "lördag"],
                     dayNamesMin: ["sö", "må", "ti", "on", "to", "fr", "lö"],
                     weekHeader: "Ve",
                     dateFormat: "yy-mm-dd",
                     firstDay: 1,
                     isRTL: false,
                     showMonthAfterYear: false,
                     yearSuffix: ""
                 });
                 var today = new Date();
                 var dd = today.getDate();
                 var mm = today.getMonth() + 1; //January is 0!
                 var yyyy = today.getFullYear();
                 if (dd < 10) { dd = '0' + dd; }
                 if (mm < 10) { mm = '0' + mm; }
                 var today = yyyy + '-' + mm + '-' + dd;

             });
        </script>
        <div class="mobile-datepicker">@Html.TextBoxFor(m => m.datepicker)</div>

        <img class="arrow-ms" src="~/Content/img/right.png" alt="" />
        <div class="clear"></div>
    </div>
    <div class="mobile-reservation-schedule">
        <div class="7hour">

            <div class="hourheader">
                <h4 id="hour-booking">kl.07</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="7hour-minute-res">
                @{
                    string membergender = "";
                    DateTime datem = new DateTime();
                    TimeSpan tsm = new TimeSpan(07, 00, 00);
                    DateTime dtm = datem.Date + tsm;
                    int minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="8hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.08</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="8hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="9hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.09</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="9hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }

                        @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="10hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.10</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="10hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="11hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.11</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="11hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="12hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.12</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="12hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="13hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.13</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="13hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="14hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.14</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="14hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="15hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.15</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="15hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="16hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.16</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="16hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
        <div class="17hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.17</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="17hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (ReservationModels Reservation in ViewBag.List)
                            {
                                if (Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Reservation.MemberGender.ToString();
                                }
                            }
                            @membergender
                        </div>
                        membergender = "";
                        minute += 10;
                    }
                    dtm = dtm.AddHours(1);
                }
            </div>
        </div>
    </div>
</div>