@model Golf4.Models.ReservationModels
@using Golf4.Controllers;
@using Golf4.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Index";
}

<div class="fullscreen-booking">
    <div class="fullscreen-date"> 
        <img class="arrow-fs" src="~/Content/img/left.png" alt="" /> 
        
        <script>
             $( function() {
                 $("#datepicker").datepicker({
                     dateFormat: "yy-mm-dd",
                     firstDay: 1,
                     closeText: "Stäng",
                     prevText: "&#xAB;Förra",
                     nextText: "Nästa&#xBB;",
                     currentText: "Idag",
                     monthNames: ["januari", "februari", "mars", "april", "maj", "juni",
                         "juli", "augusti", "september", "oktober", "november", "december"],
                     monthNamesShort: ["jan.", "feb.", "mars", "apr.", "maj", "juni",
                         "juli", "aug.", "sep.", "okt.", "nov.", "dec."],
                     dayNamesShort: ["sön", "mån", "tis", "ons", "tor", "fre", "lör"],
                     dayNames: ["söndag", "måndag", "tisdag", "onsdag", "torsdag", "fredag", "lördag"],
                     dayNamesMin: ["sö", "må", "ti", "on", "to", "fr", "lö"],
                     weekHeader: "Ve",
                     dateFormat: "yy-mm-dd",
                     firstDay: 1,
                     isRTL: false,
                     showMonthAfterYear: false,
                     yearSuffix: ""
                 });
                 var today = new Date(); 
                 var dd = today.getDate(); 
                 var mm = today.getMonth() + 1; //January is 0! 
                 var yyyy = today.getFullYear();
                 if (dd < 10) { dd = '0' + dd; }
                 if (mm < 10) { mm = '0' + mm; }
                 var today = yyyy + '-' + mm + '-' + dd;

                 $("#datepicker").val(today);
             });
        </script>
        
        <div class="fullscreen-datepicker"><input type="text" id="datepicker"></div>

        <img class="arrow-fs" src="~/Content/img/right.png" alt="" />
        <div class="clear"></div>
    </div>

    <table class="fullscreen-reservation-schedule">
        <tr>
            <td class="hours">07</td>
            <td class="hours">08</td>
            <td class="hours">09</td>
            <td class="hours">10</td>
            <td class="hours">11</td>
            <td class="hours">12</td>
            <td class="hours">13</td>
            <td class="hours">14</td>
            <td class="hours">15</td>
            <td class="hours">16</td>
            <td class="hours">17</td>
        </tr>
        <tr> 
            @{
                DateTime date = new DateTime();
                TimeSpan ts = new TimeSpan(07, 00, 00);
                DateTime dt = date.Date + ts;
                string membergender = "";
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:00
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender 
                    </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:10
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                    </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:20
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                    </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:30
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                        </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:40
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                     </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:50
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                    </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
    </table>
</div>

<div class="mobile-booking">   @*OBS! javascript click ska ändrar denna css till display:block. Nu är display:none *@
    <div class="mobile-date">
            <img class="arrow-ms" src="~/Content/img/left.png" alt="" />
        <script>
             $( function() {
                 $("#datepicker-mobile").datepicker({
                     dateFormat: "yy-mm-dd",
                     firstDay: 1,
                     closeText: "Stäng",
                     prevText: "&#xAB;Förra",
                     nextText: "Nästa&#xBB;",
                     currentText: "Idag",
                     monthNames: ["januari", "februari", "mars", "april", "maj", "juni",
                         "juli", "augusti", "september", "oktober", "november", "december"],
                     monthNamesShort: ["jan.", "feb.", "mars", "apr.", "maj", "juni",
                         "juli", "aug.", "sep.", "okt.", "nov.", "dec."],
                     dayNamesShort: ["sön", "mån", "tis", "ons", "tor", "fre", "lör"],
                     dayNames: ["söndag", "måndag", "tisdag", "onsdag", "torsdag", "fredag", "lördag"],
                     dayNamesMin: ["sö", "må", "ti", "on", "to", "fr", "lö"],
                     weekHeader: "Ve",
                     dateFormat: "yy-mm-dd",
                     firstDay: 1,
                     isRTL: false,
                     showMonthAfterYear: false,
                     yearSuffix: ""
                 });
                 var today = new Date();
                 var dd = today.getDate();
                 var mm = today.getMonth() + 1; //January is 0!
                 var yyyy = today.getFullYear();
                 if (dd < 10) { dd = '0' + dd; }
                 if (mm < 10) { mm = '0' + mm; }
                 var today = yyyy + '-' + mm + '-' + dd;

                 $("#datepicker-mobile").val(today);
             });
        </script>
            <div class="mobile-datepicker"><input type="text" id="datepicker-mobile"></div>

            <img class="arrow-ms" src="~/Content/img/right.png" alt="" />
            <div class="clear"></div>
    </div>
    <div class="mobile-reservation-schedule">
        <div class="7hour">
            
            <div class="hourheader">
                <h4 id="hour-booking">kl.07</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="7hour-minute-res">
            @{
                DateTime datem = new DateTime();
                TimeSpan tsm = new TimeSpan(07, 00, 00);
                DateTime dtm = datem.Date + ts;
                int minute = 0;
                for (int i = 0; i <= 5; i++)
                {
                    <div id=@dtm.ToString("HHmm") class="rows">
                        @minute.ToString("D2")
                    @foreach (MemberModels Member in ViewBag.List)
                    {
                        if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                        {
                            membergender += Member.Gender.ToString();
                        }
                    }
                </div>
                    membergender = "";
                    minute += 10;
                }

                @membergender
                dt = dt.AddHours(1);
    }
            </div>
        </div>
        <div class="8hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.08</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="8hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                <div id=@dtm.ToString("HHmm") class="rows">
                    @minute.ToString("D2")
                    @foreach (MemberModels Member in ViewBag.List)
                    {
                        if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                        {
                            membergender += Member.Gender.ToString();
                        }
                    }
                </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="9hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.09</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="9hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="10hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.10</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="10hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="11hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.11</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="11hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="12hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.12</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="12hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="13hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.13</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="13hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="14hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.14</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="14hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="15hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.15</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="15hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="16hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.16</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="16hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
        <div class="17hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.17</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="17hour-minute-res">
                @{minute = 0;
                    for (int i = 0; i <= 5; i++)
                    {
                        <div id=@dtm.ToString("HHmm") class="rows">
                            @minute.ToString("D2")
                            @foreach (MemberModels Member in ViewBag.List)
                            {
                                if (Member.Reservation.Timestart.ToString("HHmm") == dtm.ToString("HHmm"))
                                {
                                    membergender += Member.Gender.ToString();
                                }
                            }
                        </div>
                        membergender = "";
                        minute += 10;
                    }

                    @membergender
                    dt = dt.AddHours(1);
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
    }
