@using Golf4.Models
@model ContestModels
@using System.Data

@{
    ViewBag.Title = "AllCompetitions";
}

<h2>AllCompetitions</h2>

<h2> Tävlingar</h2>
<hr />

<div class="contestList">

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />

    <table id="contests">
        <thead>
            <tr>
                @foreach (DataColumn column in Model.AllContests.Columns)
                {
                    <th> @column.ColumnName</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.AllContests.Rows)
            {
                <tr>
                    @foreach (DataColumn item in Model.AllContests.Columns)
                    {
                        <td>
                            @if (item.ColumnName == "id")
                            {
                                <a href="#CompeteInfo" id="Info"> Info </a>
                            }
                            else
                            {
                                @row[item.ColumnName];
                            }
                        </td>
                    }

                </tr>
            }
    </table>
    <script>
        $(document).ready(function () {
                    $('#contests').DataTable({

                    })
                }
            );

    </script>
</div>

<div id="CompeteInfo" onclick="window.location.hash='back'; ">
    <h4>
        @Html.DisplayFor(model => Model.Name)<br />
    </h4>

    <p>
        @Html.DisplayFor(model => Model.Timestart) <br />
    </p>
    <p>
        @Html.DisplayFor(model => Model.CloseTime) <br />
    </p>

    <p>
        @Html.DisplayFor(model => Model.description)
    </p>

</div>
