@if (User.IsInRole("1"))
{
    <li role="presentation">@Html.ActionLink("Startsida", "Index", "Member")</li>
    <li role="presentation">@Html.ActionLink("Tidsbokning", "Index", "Reservation")</li>
    <li role="presentation">@Html.ActionLink("Tävlingar", "Index", "Reservation")</li>
    <li role="presentation">@Html.ActionLink("Logga ut", "LogOff", "Account")</li>   
}

@if (User.IsInRole("2"))
{
    <li role="presentation">@Html.ActionLink("Startsida", "Index", "Admin")</li>
    <li role="presentation">@Html.ActionLink("Medlemmar", "Index", "Admin")</li>
    <li role="presentation">@Html.ActionLink("Hantering av tider", "Index", "Reservation")</li>
    <li role="presentation">@Html.ActionLink("Tävlingar", "Index", "Reservation")</li>
    <li role="presentation">@Html.ActionLink("Logga ut", "LogOff", "Account")</li>
}