@using Golf4.Helpers;

<li role="presentation" class="@Html.IsActive(action: "Index", controller: "Home")">@Html.ActionLink("Start", "Index", "Home")</li>
<li role="presentation" class="@Html.IsActive(action: "About", controller: "Home")">@Html.ActionLink("Om oss", "About", "Home")</li>
<li role="presentation" class="@Html.IsActive(action: "Contests", controller: "Home")">@Html.ActionLink("Tävlingar", "Contests", "Home")</li>
<li role="presentation" class="@Html.IsActive(action: "Contact", controller: "Home")">@Html.ActionLink("Kontakt", "Contact", "Home")</li>
<li role="presentation" class="@Html.IsActive(action: "Index", controller: "Account")">@Html.ActionLink("Logga in", "Index", "Account")</li>   