@using Golf4.Models
@model MemberModels.MembersViewModel
@using System.Data

@{
    ViewBag.Title = "index";
}

<div class="btnrow">
    @*<input type="submit" class="btn btn-default" value="Lämna in resultat" />
    <p><a class="btn btn-default" href="~/home/About">Gästa HGK &raquo;</a></p>
    <input type="submit" class="btn btn-default" value="Boka tävling" />*@
    <p><a class="btn btn-default" href="~/reservation/index">Boka golfrunda &raquo;</a></p>
    <p><a class="btn btn-default" href="~/reservation/index">Boka tävling &raquo;</a></p>
</div>


@*<div id="section1" class='hidden'>*@
    <div class="col-md-6">

        <div class="reservHeader">
            <h4>Inbokade rundor</h4>
        </div>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />

        <table id="reserv">
            <thead>
                <tr>
                    @foreach (DataColumn item in Model.Timestart.Columns)
                    {
                        <th> @item.ColumnName</th>
                    }


                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Timestart.Rows)
                {
                    <tr>
                        @foreach (DataColumn item in Model.Timestart.Columns)
                        {
                            <td>
                                @{if (item.ColumnName == "Avboka")
                                    {
                                        @Html.ActionLink("Avboka", "deleteResv", "reservation", new { ReservationID = Convert.ToInt16(row[item.ColumnName]) }, new { onclick = "return confirm('Vill du avboka denna tid?');" })
                                    }
                                    else
                                    {
                                        @row[item.ColumnName];
                                    }

                                }
                            </td>                          
                        }
                    </tr> 
                }
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#reserv').DataTable({
                    "ordering": false,
                    "info": false,
                });
                //function toggler(divId) {
                //    $(section1).toggle();
                //}
            })
        </script>
    </div>

<div class="col-md-6">

    <div class="reservHeader">
        <h4>Anmälda tävlingar</h4>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />

    <table id="compete">
        <thead>
            <tr>
                @foreach (DataColumn item in Model.CompeteList.Columns)
                {
                    <th> @item.ColumnName</th>
                }


            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.CompeteList.Rows)
            {
                <tr>
                    @foreach (DataColumn item in Model.CompeteList.Columns)
                    {
                        <td>
                            @{if (item.ColumnName == "Välj åtgärd")
                                {
                                    @Html.ActionLink("Avanmäl", "deletemember", "contest", new { cont = Convert.ToInt16(row[item.ColumnName]) }, new { onclick = "return confirm('Vill du avanmäla denna tävling?');" })
                                }
                                else
                                {
                                    @row[item.ColumnName];
                                }

                            }
                        </td>
                                }
                </tr>
                                }
        </tbody>
    </table>
    <script>
            $(document).ready(function () {
                $('#compete').DataTable({
                    "ordering": false,
                    "info": false,
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json'
                    },
                });
                //function toggler(divId) {
                //    $(section1).toggle();
                //}
            })
    </script>
</div>

        <div class="col-md-6">
            <div class="reservHeader">
                <h4>Mina Medlemsuppgifter</h4>
             </div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Firstname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Lastname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Adress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Adress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Postalcode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Postalcode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HCP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HCP)
                    </dd>
                    <dd>
                        @Html.ActionLink("Redigera", "Edit")
                    </dd>
                </dl>
                <div class="editInfo">
                   
                </div>
        </div>




        <p>
            @*@Html.ActionLink("Redigera", "Edit")*@

            @*Vill att ovan ska få strukturen som nedan, men får inte till controllername*@
            @*Html.ActionLink("Create New", "Create", CONTROLLERNAME, null, new { @class= "yourCSSclass" } )*@


            @* @Html.ActionLink("Back to List", "Index")*@
        </p>
