@using Golf4.Models
@model MemberModels.MembersViewModel

@{
    ViewBag.Title = "index";
}

<h2>Medlemsuppgifter</h2>
<hr />

@*<div class="bookingMember">

</div>*@

        <div class="bookingMember">
        <div class="col-md-4">
            <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />

            <table id="members">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Tid</th>
                        <th>Antal i bollen</th>
 
                    </tr>
                </thead>
            </table>
            <script>
        $(document).ready(function () {
            $.ajax({
                "async": "false",
                "url": '/member/index',
                "type": "GET",
                "data": "json", success: function (result) {
                    $('#members').DataTable({
                        result,
                        "columns": [
                         { "data": "datum", "autowidth": true },
                         { "data": "tid", "autowidth": true },
                         { "data": "antal i bollen", "autowidth": true }
                        ]
                    })
                }
            });
        })
            </script>
        </div>
        </div>

        <div class="infoMember">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Firstname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Lastname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Adress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Adress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Postalcode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Postalcode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HCP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HCP)
                    </dd>

                </dl>
                <div class="editInfo">
                    @Html.ActionLink("Redigera", "Edit")
                </div>
            </div>
        </div>




        <p>
            @*@Html.ActionLink("Redigera", "Edit")*@

            @*Vill att ovan ska få strukturen som nedan, men får inte till controllername*@
            @*Html.ActionLink("Create New", "Create", CONTROLLERNAME, null, new { @class= "yourCSSclass" } )*@


            @* @Html.ActionLink("Back to List", "Index")*@
        </p>
