@using Golf4.Models
@using System.Data
@model ContestModels

@{
    ViewBag.Title = "Admin";
}

<h2>Tävlingar Admin</h2>

@using (Html.BeginForm())
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />
    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(Model => Model.Competition_id)
        <div class="form-group">
            <div class="col-md-10">
                @Html.DisplayNameFor(model => Model.Name)
                @Html.DisplayFor(model => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <table id="reservation">
            <thead>
            <thead>
                <tr>
                    @foreach (DataColumn item in Model.ContestMembers.Columns)
                {
                    <th> @item.ColumnName</th>
                }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.ContestMembers.Rows)
            {
                <tr>
                    @foreach (DataColumn item in Model.ContestMembers.Columns)
                    {
                        <td>
                            @{if (item.ColumnName == "Välj Åtgärd")
                                {
                                
                                @Html.ActionLink("tABORT FrÅn tÄVLING ", "removefromcont", "contest", new { member = row[item.ColumnName], cont= Model.Competition_id}, null)
                                }
                                else
                                {
                                @row[item.ColumnName];
                                }
                        }
                    </td>
                                }
                </tr>
                                }
           
            </tbody>
        </table>
        <br />

        <br />
        <table id="members">
            <thead>
                <tr>
                    @foreach (DataColumn item in Model.AllContests.Columns)
                    {
                        <th> @item.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.AllContests.Rows)
                {
                    <tr>
                        @foreach (DataColumn item in Model.AllContests.Columns)
                        {
                            <td>
                                @{if (item.ColumnName == "Välj Åtgärd")
                                    {
                                    @Html.ActionLink("Lägg till i Reservation", "adminadd", "reservation", new { member = row[item.ColumnName], validdate = Model.Timestart }, null)<br />
                                    @Html.ActionLink("Lägg till i befintlig Reservation", "adminaddboll", "reservation", new { member = row[item.ColumnName], validdate = Model.Timestart }, null)
                                    }
                                    else
                                    {
                                    @row[item.ColumnName];
                                    }
                            }
                        </td>
                                    }
                    </tr>
                                    }
            </tbody>
        </table>

        <script>
            $(document).ready(function () {
                $('#members').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json'
                    },
                });
            });
            $(document).ready(function () {
                $('#reservation').DataTable({

                    language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json'
                    },
                });
            });
        </script>
    </div>
                                    }