@using Golf4.Models
@using System.Data
@model ContestModels

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />

<div>
    <h2>Kommande tävlingar</h2>
    <table id="contests">
        <thead>
            <tr>
                @foreach (DataColumn item in Model.AllContests.Columns)
                {
                    <th> @item.ColumnName</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.AllContests.Rows)
            {
                <tr>
                    @foreach (DataColumn item in Model.AllContests.Columns)
                    {
                        <td>
                            @if (item.ColumnName == "id")
                            {
                                if (User.IsInRole("2"))
                                {
                                    @Html.ActionLink("Hantera medlemmar", "Admin", "Contest", new { cont = row[item.ColumnName] }, null) <br />
                                    @Html.ActionLink("Ändra tävlingsinfo", "edit", "Contest", new { cont = row[item.ColumnName] }, null)
                                }
                                else
                                {
                                    @Html.ActionLink("Boka", "Member", "Contest", new { cont = row[item.ColumnName] }, null)
                                }
                            }
                            else
                            {
                                @row[item.ColumnName];
                            }

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>
<div>
     <h2>Avslutade tävlingar</h2>
    <table id="publishedcontests">
        <thead>
            <tr>
                @foreach (DataColumn item in Model.PublishedContests.Columns)
                {
                    <th> @item.ColumnName</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.PublishedContests.Rows)
            {
                <tr>
                    @foreach (DataColumn item in Model.PublishedContests.Columns)
                    {
                        <td>
                            @if (item.ColumnName == "id")
                            {
                                @Html.ActionLink("Visa resultat", "ResultList", "Contest", new { cont = row[item.ColumnName] }, null) @*<br />
                                @Html.ActionLink("Ändra tävlingsinfo", "edit", "Contest", new { cont = row[item.ColumnName] }, null)*@
                            }
                            else
                            {
                                @row[item.ColumnName];
                            }

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @if (User.IsInRole("2"))
    {
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p><a class="btn btn-default" href="~/Contest/create">Skapa ny tävling</a></p>
        </div>
    </div>
    }
    <script>
    $(document).ready(function () {
                $('#contests').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json'
                    },
                })
            }
        );


    $(document).ready(function () {
        $('#publishedcontests').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json'
            },
        })
    }
    );

    </script>
</div>

